<% if @beers.count > 0 %>

<table>
  <tr>
    <th><%= sortable "name", 'Beer Name' %></th>
    <th><%= sortable "brewery" %></th>
    <th><%= sortable "vol", 'Vol %' %></th>
  </tr>
  <% @beers.each do |beer| %>
    <tr>
      <td><%= link_to beer.name, beer %></td>
      <td><%= beer.brewery %></td>
      <td><%= beer.vol %></td>
      <td><%= link_to 'Edit', edit_beer_path(beer) %></td>
      <td><%= link_to 'Delete', beer_path(beer), method: :delete,data: {confirm: 'Are you sure you want to delete such a delicous beer?'} %></td>
    </tr>
  <% end %>
</table>
<% else %>
  <p>Sorry, no beers are registered at the moment :(
<% end %>

<p>Feel free to <%= link_to 'add some more beers', 'beers/new' %>
