<p><%= @beer.name %> beer, from <%= @beer.brewery %> brewery with <%= @beer.vol %>% alcohol.</p>

<p>Here's a description:</p>
<p><%= @beer.description %></p>
<p>An excellent choice sir!</p>

<p><%= link_to 'Return to List', beers_path %>
